name: 7up Bot Updater

on:
  workflow_dispatch:
  push:
    branches: [ master ]

jobs:
  Update:
    runs-on: self-hosted

    steps:
      - name: Clone repository to local
        uses: actions/checkout@v2

      - name: Make env file
        run: |
          echo "DB_PASS=${{ secrets.POSTGRES_PASSWORD }}" >> .env
          echo "BOT_TOKEN=${{ secrets.BOT_TOKEN }}" >> .env

      - name: Signal for restart
        run: echo "1" > restart.txt
